# Ignore everything
*

# But not files in the root directory
!*/

# Re-allow all files at the root level
!*.*


# Ignore R workspace files
*.RData
*.rda
*.rds
*.rdata
*.Rhistory
*.Rproj.user/
saved_analysis_files/
picrust2_pipeline_output/
.Rproj.user
DAspecies_anvio/
old_scripts/
old_output/